@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #9C9C9C;
  background-color: #0D0D11;
}

.wrapper {
  min-height: 100vh;
  overflow: clip;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

[class*=__container] {
  max-width: 81.875rem;
  margin: auto;
  padding: 0 15px;
}

.title {
  font-size: 3.2rem;
  color: #fff;
  line-height: 1.19;
  font-weight: 500;
}

.button {
  display: inline-block;
  text-align: center;
  background-color: #3D96F4;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.44;
  letter-spacing: 0.14em;
  border-radius: 3.57em;
  padding: 1.14em 2.14em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex: 0 0 auto;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: #040ca1;
}
@media (max-width: 70.85em) {
  .button {
    padding: 1em 1.42em;
  }
}

.header__container {
  display: flex;
  -moz-column-gap: 2.25em;
       column-gap: 2.25em;
  min-height: 116px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__menu {
  flex: 1 1 auto;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -moz-column-gap: 2.25em;
       column-gap: 2.25em;
  row-gap: 3px;
}
.menu__link {
  line-height: 1.625;
  color: #fff;
}
.menu__link:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

.cart-header {
  color: #fff;
  display: flex;
  gap: 0.27em;
  align-items: center;
}
.cart-header__text {
  font-size: 1.125rem;
  line-height: 1.6;
  letter-spacing: 0.05em;
}
.cart-header__text:hover {
  text-decoration: underline;
}
.cart-header__quantity {
  background-color: rgba(129, 129, 139, 0.2);
  width: 1.875rem;
  height: 1.875rem;
  font-size: 0.875rem;
  letter-spacing: 0.07em;
  line-height: 1;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: grid;
  place-items: center;
}