@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #9C9C9C;
  background-color: #0D0D11;
}

.wrapper {
  min-height: 100vh;
  overflow: clip;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

[class*=__container] {
  max-width: 81.875rem;
  margin: auto;
  padding: 0 15px;
}

.title {
  font-size: 3.2rem;
  color: #fff;
  line-height: 1.19;
  font-weight: 500;
}
@media (max-width: 61.998em) {
  .title {
    font-size: 2.75rem;
  }
}
@media (max-width: 48em) {
  .title {
    font-size: 2rem;
  }
}

.button {
  display: inline-block;
  text-align: center;
  background-color: #3D96F4;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.44;
  letter-spacing: 0.14em;
  border-radius: 3.57em;
  padding: 1.14em 2.14em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex: 0 0 auto;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: #1375de;
}
@media (max-width: 61.998em) {
  .button {
    padding: 1em 1.42em;
  }
}
.button_contact-us {
  background-color: rgba(129, 129, 139, 0.2);
}
.button_contact-us:hover {
  background-color: rgba(129, 129, 139, 0.1);
}

.suptitle {
  display: inline-block;
  font-size: 0.687rem;
  line-height: 1.55;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: inherit;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 1.09em;
  padding: 1em 2em;
  transition: border 0.3s ease 0s;
}
.suptitle:hover {
  border: 1px dotted #1375de;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(13, 13, 17, 0.5176470588);
  z-index: 50;
}
.header__container {
  display: flex;
  -moz-column-gap: 2.25em;
       column-gap: 2.25em;
  min-height: 7.25rem;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 61.998em) {
  .header__container {
    -moz-column-gap: 1.56em;
         column-gap: 1.56em;
    min-height: 5.625rem;
  }
}
@media (max-width: 47.998em) {
  .header__container {
    min-height: 4.375rem;
    -moz-column-gap: 0.875em;
         column-gap: 0.875em;
  }
}
@media (max-width: 35em) {
  .header__logo {
    width: 39px;
    flex: 0 0 39px;
    overflow: hidden;
  }
}
.header__logo, .header__cart, .header__button {
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
}

.menu__icon {
  background-color: inherit;
}
@media (max-width: 47.998em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0D0D11;
    left: -100%;
    top: 0;
    padding: 6.25rem 1rem 1.875rem 1rem;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 4.375rem;
    z-index: 2;
    background-color: #0D0D11;
    transition: left 0.3s ease 0s;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -moz-column-gap: 2.25em;
       column-gap: 2.25em;
  row-gap: 3px;
}
@media (max-width: 61.998em) {
  .menu__list {
    -moz-column-gap: 1.56em;
         column-gap: 1.56em;
  }
}
@media (max-width: 47.998em) {
  .menu__list {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 10px;
    -moz-column-gap: 0.875em;
         column-gap: 0.875em;
  }
}
.menu__link {
  line-height: 1.625;
  color: #fff;
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s ease-in 0s;
  background-color: #3D96F4;
}
.menu__link:hover::after {
  width: 100%;
}
@media (max-width: 47.998em) {
  .menu__link {
    font-size: 2rem;
  }
}

.cart-header {
  color: #fff;
  display: flex;
  gap: 0.27em;
  align-items: center;
}
.cart-header__text {
  font-size: 1.125rem;
  line-height: 1.6;
  letter-spacing: 0.05em;
}
.cart-header__text:hover {
  text-decoration: underline;
}
@media (max-width: 35em) {
  .cart-header__text {
    display: none;
  }
}
.cart-header__quantity {
  background-color: rgba(129, 129, 139, 0.2);
  width: 1.875rem;
  height: 1.875rem;
  font-size: 0.875rem;
  letter-spacing: 0.07em;
  line-height: 1;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.998em) {
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    right: 0;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}
.menu-open .icon-menu::before {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
.menu-open .icon-menu::after {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}
.menu-open .icon-menu span {
  width: 0;
}

.main__container {
  padding-top: 10rem;
  padding-bottom: 6rem;
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media (max-width: 61.998em) {
  .main__container {
    padding-top: 7.5rem;
    padding-bottom: 4rem;
  }
}
@media (max-width: 47.998em) {
  .main__container {
    padding-top: 6.25rem;
    padding-bottom: 2rem;
    flex-direction: column;
    row-gap: 2rem;
  }
}
.main__content {
  flex: 0 1 50%;
  align-self: center;
}
@media (max-width: 47.998em) {
  .main__content {
    align-items: stretch;
  }
}
.main .header-main__title {
  position: relative;
}
@media (min-width: 47.998em) {
  .main .header-main__title {
    max-width: 32.5rem;
  }
}
.main .header-main__title::before {
  content: "";
  background: url("../img/dots-decor.svg") 0 0/100% no-repeat;
  width: 7.625rem;
  height: 7.625rem;
  position: absolute;
  top: -1.28rem;
  left: -2rem;
}
.main .header-main__title:not(:last-child) {
  margin-bottom: 0.55em;
}
.main .header-main__text {
  font-size: 1.125rem;
}
.main .header-main__text:not(:last-child) {
  margin-bottom: 1.83em;
}
@media (min-width: 47.998em) {
  .main .header-main__text {
    max-width: 31.25rem;
  }
}
.main .header-main__actions {
  display: flex;
  gap: 2rem;
}
@media (max-width: 29.998em) {
  .main .header-main__actions {
    flex-direction: column;
    gap: 1rem;
  }
}
.main__gallery {
  flex: 0 1 50%;
}

.main-gallery {
  display: flex;
  justify-content: center;
  gap: 9.6%;
}
.main-gallery__column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-gallery__item {
  overflow: hidden;
}
.main-gallery__item_1, .main-gallery__item_4 {
  border-radius: 50%/30%;
}
.main-gallery__item_2 {
  border-radius: 50% 50% 0 50%;
}
.main-gallery__item_3 {
  border-radius: 50% 0 50% 50%;
}
.main-gallery__item img {
  max-width: 100%;
}

.clients__container {
  padding-top: 6rem;
  padding-bottom: 5rem;
}
@media (max-width: 61.998em) {
  .clients__container {
    padding-top: 4rem;
    padding-bottom: 3.2rem;
  }
}
@media (max-width: 47.998em) {
  .clients__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.clients__title {
  font-size: 1.14rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.57;
  text-align: center;
}
.clients__title:not(:last-child) {
  margin-bottom: 3.14em;
}
@media (max-width: 61.998em) {
  .clients__title:not(:last-child) {
    margin-bottom: 2.14em;
  }
}
@media (max-width: 47.998em) {
  .clients__title:not(:last-child) {
    margin-bottom: 1.14em;
  }
}
.clients__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
  align-items: center;
}
.clients__item img {
  max-width: 100%;
  transition: transform 0.3s ease 0s;
}
.clients__item img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.services__container {
  display: flex;
  gap: 2rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
}
@media (max-width: 68.75em) {
  .services__container {
    flex-direction: column;
  }
}
@media (max-width: 61.998em) {
  .services__container {
    padding-top: 3rem;
    padding-bottom: 3.1rem;
  }
}
@media (max-width: 47.998em) {
  .services__container {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }
}
.services__content {
  flex: 0 1 50%;
  align-self: center;
}
.services__items {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 38.75em) {
  .services__items {
    flex-direction: column;
  }
}
@media (min-width: 61.988em) {
  .services__column:first-child {
    padding-top: 3rem;
  }
}
.services__item {
  transition: border 0.3s ease 0s;
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 2rem;
}
.services__item:hover {
  border: 1px dotted #1375de;
}

.header-services__suptitle:not(:last-child) {
  margin-bottom: 1.72em;
}
.header-services__title:not(:last-child) {
  margin-bottom: 0.235em;
}
@media (min-width: 61.998em) {
  .header-services__text {
    max-width: 30.62rem;
  }
}
.header-services__text:not(:last-child) {
  margin-bottom: 1.833em;
}
@media (max-width: 37em) {
  .header-services__button {
    display: block;
  }
}

.item-service {
  padding: 3.44rem 1.562rem;
}
.item-service:not(:last-child) {
  margin-bottom: 2rem;
}
.item-service__icon:not(:last-child) {
  margin-bottom: 0.789em;
}
.item-service__title {
  font-size: 1.187rem;
  font-weight: 400;
  line-height: 1.42;
  color: #fff;
}
.item-service__title:not(:last-child) {
  margin-bottom: 0.526em;
}

.why__container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 2rem;
}
@media (max-width: 61.998em) {
  .why__container {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    flex-direction: column-reverse;
  }
}
@media (max-width: 47.998em) {
  .why__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.why__gallery {
  flex: 0 1 50%;
}
.why__content {
  flex: 0 1 50%;
  align-self: center;
}
.why__suptitle:not(:last-child) {
  margin-bottom: 3.9em;
}
@media (max-width: 47.998em) {
  .why__suptitle:not(:last-child) {
    margin-bottom: 1.8em;
  }
}
.why__title:not(:last-child) {
  margin-bottom: 0.784em;
}
@media (min-width: 61.998em) {
  .why__text {
    max-width: 30.625rem;
  }
}
.why__text:not(:last-child) {
  margin-bottom: 1.94em;
}
.why__list li {
  position: relative;
  min-height: 2rem;
  padding-left: 2.5rem;
  padding-top: 2px;
}
.why__list li:not(:last-child) {
  margin-bottom: 1em;
}
.why__list li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  border-radius: 50%;
  background: rgba(129, 129, 139, 0.1) url("../img/icons/checked.svg") center no-repeat;
  width: 2rem;
  height: 2rem;
}

.gallery-why {
  display: flex;
  position: relative;
  align-self: flex-end;
}
.gallery-why::before {
  content: "";
  background: url("../img/dots-decor.svg") 0 0/100% no-repeat;
  width: 7.625rem;
  height: 7.625rem;
  position: absolute;
  bottom: -8px;
  left: 0;
}
.gallery-why__item {
  overflow: hidden;
}
.gallery-why__item img {
  max-width: 100%;
  border-radius: 88% 0 49% 49%/50% 0 31% 31%;
  position: relative;
  z-index: 6;
}
.gallery-why__item_bottom {
  align-self: flex-end;
}
.gallery-why__item_bottom img {
  border-radius: 50% 50% 50% 0;
}

.advantages__container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  gap: 2rem;
}
@media (max-width: 61.998em) {
  .advantages__container {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    flex-direction: column;
  }
}
@media (max-width: 47.998em) {
  .advantages__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.advantages__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  flex: 1 1 auto;
}
@media (max-width: 40.62em) {
  .advantages__items {
    grid-template-columns: auto;
    text-align: center;
  }
}
.advantages__item {
  background-color: rgba(129, 129, 139, 0.1);
  padding: 2.5rem;
  border-radius: 1.875rem;
}
.advantages__item:hover {
  border: 1px dotted #1375de;
}
.advantages__value:not(:last-child) {
  margin-bottom: 0.627em;
}
.advantages__description {
  font-size: 1.125rem;
}
.advantages__gallery {
  flex: 0 0 38%;
}
@media (max-width: 61.998em) {
  .advantages__gallery {
    align-self: center;
  }
}
.advantages__gallery img {
  max-width: 100%;
  border-radius: 0% 67% 60% 60%/0% 67% 50% 50%;
}

.testimonials__container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (max-width: 61.998em) {
  .testimonials__container {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}
@media (max-width: 47.998em) {
  .testimonials__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.testimonials__content:not(:last-child) {
  margin-bottom: 4.166em;
}
.testimonials__items {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.content-testimonials {
  display: flex;
}
@media (max-width: 61.998em) {
  .content-testimonials {
    flex-direction: column;
    row-gap: 1.7rem;
  }
}
.content-testimonials__body {
  flex: 1 1 auto;
}
.content-testimonials__suptitle:not(:last-child) {
  margin-bottom: 2.272em;
}
.content-testimonials__title:not(:last-child) {
  margin-bottom: 0.235em;
}
@media (min-width: 62em) {
  .content-testimonials__text {
    max-width: 46rem;
  }
}
.content-testimonials__actions {
  flex: 0 0 auto;
  align-self: flex-end;
}
@media (max-width: 61.998em) {
  .content-testimonials__actions {
    align-self: flex-start;
  }
}
.item-testimonial {
  background-color: rgba(129, 129, 139, 0.1);
  padding: 4rem 2.5rem 5.25rem 2.5rem;
  display: grid;
  gap: 2.125rem;
  border-radius: 1.875rem;
  max-width: 24.62rem;
}
@media (max-width: 61.998em) {
  .item-testimonial {
    gap: 1.125rem;
  }
}
.item-testimonial__title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  color: #fff;
}
.user-testimonial {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.user-testimonial__avatar {
  flex: 0 0 4.25rem;
}
.user-testimonial__avatar img {
  max-width: 100%;
}