$main-text-color: #9C9C9C;
$text-color: #81818B;
$title-color: #fff;
$body-bg: #0D0D11;
$main-button-bg: #3D96F4;
$button-bg: rgba(129, 129, 139, 0.2);
$item-bg: rgba(129, 129, 139, 0.1);



body {
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   line-height: 1.5;
   color: $main-text-color;
}