.main-footer {

   padding-top: 10rem;
   padding-bottom: 10rem;
   @media (max-width: 61.998em) {
      padding-top: 5rem;
      padding-bottom: 5rem;
   }
   @media (max-width: 47.998em) {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
   }

   &__container {
      display: grid;
      column-gap: 4rem;
      grid-template-columns: minmax(auto, 23.625rem) auto auto minmax(auto, 23.625rem);
      @media (max-width: 68.75em) {
         gap: 2.81rem;
         grid-template-columns: minmax(auto, 23.625rem) auto auto;
      }
      @media (max-width: 61.998em) {
         gap: 2.18rem;
         grid-template-columns: auto auto;
      }
   }

   &__column {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @media (max-width: 68.75em) {
         &:nth-child(1) {
            grid-column: span 3;
            gap: 1rem;
         }
      }
      @media (max-width: 61.998em) {
         &:nth-child(1) {
            grid-column: span 2;
         }
         &:nth-child(4) {
            grid-column: span 2;
         }
      }
   }

   &__logo,
   &__social {
      & img {
         max-width: 100%;
      }
   }

   &__label {
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.2;
      letter-spacing: 0.05em;
      color: $title-color;
   }
}
.social {
   display: flex;
   gap: 1rem;
   &__link {
      flex: 0 0 2.25rem;
      height: 2.25rem;
      border: 1px solid rgba(129, 129, 139, 0.9);
      border-radius: 2.25rem;
      display: grid;
      place-items: center;
      transition: all 0.3s ease 0s;
      &:hover {
         box-shadow: 1px 1px 15px $blog-date-color;
         border: 1px solid $title-color;
         cursor: pointer;
      }
   }
}
.menu-footer {

   &__list {
      display: grid;
      gap: 1.5rem;
   }

   &__link {
      line-height: 1.6;
      color: inherit;
      transition: color 0.3s ease 0s;
      &:hover {
         color: $title-color;
      }
   }
}
.subscribe {
   display: flex;
   gap: 1rem;
   @media (max-width: 29.998em) {
      flex-direction: column;
   }
   &__input {
      width: 100%;
      border: 1px solid $button-bg;
      border-radius: 3.125rem;
      background-color: transparent;
      padding: 1rem 2rem;
      color: $placeholder-color;
      transition: all 0.3s ease 0s;
      &:hover {
         border: 1px solid  $placeholder-color;
         box-shadow: 1px 1px 312.5rem $button-hover;
      }
   }
}

.bottom-footer {
   &__container {
      border-top: 1px solid $button-bg;
      padding-top: 3.125rem;
      padding-bottom: 3.125rem;
      @media (max-width: 47.998em) {
         padding-top: 1.875rem;
         padding-bottom: 1.875rem;
      }
   }

   &__copyright {
      text-align: center;
      font-size: 0.875rem;
      line-height: 1.6;
   }
}
