.services {

   &__container {
      display: flex;
      gap: 2rem;
      padding-top: 5rem;
      padding-bottom: 6rem;
      @media (max-width: 68.75em) {
         flex-direction: column;
      }
      @media (max-width: 61.998em) {
         padding-top: 3rem;
         padding-bottom: 3.1rem;
      }
      @media (max-width: 47.998em) {
         padding-top: 1.5rem;
         padding-bottom: 2rem;
      }
   }

   &__content {
      flex: 0 1 50%;
      align-self: center;
   }

   &__items {
      flex: 0 1 50%;
      display: flex;
      justify-content: center;
      gap: 2rem;
      @media (max-width: 38.75em) {
         flex-direction: column;
      }
   }

   &__column {
      @media (min-width: 61.988em) {
         &:first-child {
         padding-top: 3rem;
         }
      }
   }

   &__item {
      transition: border 0.3s ease 0s;
      background-color: $item-bg;
      border-radius: 2rem;
      &:hover {
         border: 1px dotted $button-hover;
      }
   }
}
.header-services {

   &__suptitle {
      &:not(:last-child) {
         margin-bottom: 1.72em;
      }
   }

   &__title {
      &:not(:last-child) {
         margin-bottom: 0.235em;
      }
   }

   &__text {
      @media (min-width: 61.998em) {
         max-width: 30.62rem;
      }
      &:not(:last-child) {
         margin-bottom: 1.833em;
      }
   }

   &__button {
      @media (max-width: 37em) {
            display: block;
      }
   }
}

.item-service {
   &_2 {
      &:hover {
         border: 1px solid $item-border-hover;
      }
   }
   &_3 {
      &:hover {
         border: 1px solid $services-border-hover;
      }
   }
   &_4 {
      &:hover {
         border: 1px solid $logo-green-color;
      }
   }
   padding: 3.44rem 1.562rem;
   &:not(:last-child) {
      margin-bottom: 2rem;
   }

   &__icon {
      &:not(:last-child) {
         margin-bottom: 0.789em;
      }
   }

   &__title {
      font-size: 1.187rem;
      font-weight: 400;
      line-height: 1.42;
      color: $title-color;
      &:not(:last-child) {
         margin-bottom: 0.526em;
      }
   }
}
