.testimonials {

   &__container {
      padding-top: 6rem;
      padding-bottom: 6rem;
      @media (max-width: 61.998em) {
         padding-top: 3.5rem;
         padding-bottom: 3.5rem;
      }
      @media (max-width: 47.998em) {
         padding-top: 2rem;
         padding-bottom: 2rem;
      }
   }

   &__content {
      &:not(:last-child) {
         margin-bottom: 4.166em;
      }
   }

   &__items {
      display: grid;
      gap: 3rem;
      grid-template-columns: repeat(3, 1fr);
      @media (max-width:68.75em) {
         gap: 2rem;
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width:47.75em) {
         row-gap: 1rem;
         grid-template-columns: 1fr;
      }
   }
}
.content-testimonials {
   display: flex;
   @media (max-width: 61.998em)  {
      flex-direction: column;
      row-gap: 1.7rem;
   }
   &__body {
      flex: 1 1 auto;
   }

   &__suptitle {
      &:not(:last-child) {
         margin-bottom: 2.272em;
      }
   }

   &__title {
      &:not(:last-child) {
         margin-bottom: 0.235em;
      }
   }

   &__text {
      @media (min-width: 62em) {
         max-width: 46rem;
      }
   }

   &__actions {
      flex: 0 0 auto;
      align-self: flex-end;
      @media (max-width: 61.998em)  {
         align-self: flex-start;
      }
   }
}

.item-testimonial {
   background-color: $item-bg;
   padding: 4rem 2.5rem 5.25rem 2.5rem;
   display: flex;
   flex-direction: column;
   gap: 2.125rem;
   border-radius: 1.875rem;
   &:hover {
      border: 1px dotted $button-hover;
   }
   @media (max-width: 61.998em) {
      gap: 1.125rem;
      padding: 2.15rem 1.5rem 2.25rem 1.5rem;
   }

   &__title {
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.4;
      color: $title-color;
      @media (max-width:47.998em) {
         font-size: 1.4rem;
      }
   }

   &__description {
      flex: 1 1 auto;
   }

   &__raiting {
      & img {
         max-width: 100%;
      }
   }
}
.user-testimonial {
   display: flex;
   gap: 1rem;
   align-items: center;

   &__avatar {
      overflow: hidden;
      flex: 0 0 4.25rem;
      &_1 {
         border-radius: 0 50% 50% 50%;
      }
      &_2 {
         border-radius: 50% 0 50% 50%;
      }
      &_3 {
         border-radius: 50% 50% 0 50%;
      }
      & img {
         max-width: 100%;
         transform: scale(1.023);
      }
   }

   &__name {
      color: $title-color;
   }

   &__company-name {
      font-size: 0.875rem;
   }
}
