.testimonials {

   &__container {
      padding-top: 6rem;
      padding-bottom: 6rem;
      @media (max-width: 61.998em) {
         padding-top: 3.5rem;
         padding-bottom: 3.5rem;
      }
      @media (max-width: 47.998em) {
         padding-top: 2rem;
         padding-bottom: 2rem;
      }
   }

   &__content {
      &:not(:last-child) {
         margin-bottom: 4.166em;
      }
   }

   &__items {
      display: flex;
      gap: 3rem;
      flex-wrap: wrap;
   }
}
.content-testimonials {
   display: flex;
   @media (max-width: 61.998em)  {
      flex-direction: column;
      row-gap: 1.7rem;
   }
   &__body {
      flex: 1 1 auto;
   }

   &__suptitle {
      &:not(:last-child) {
         margin-bottom: 2.272em;
      }
   }

   &__title {
      &:not(:last-child) {
         margin-bottom: 0.235em;
      }
   }

   &__text {
      @media (min-width: 62em) {
         max-width: 46rem;
      }
   }

   &__actions {
      flex: 0 0 auto;
      align-self: flex-end;
      @media (max-width: 61.998em)  {
         align-self: flex-start;
      }
   }

   &__button {
      
   }
}
.testimonial {

   &__item {
   }
}
.item-testimonial {
   background-color: $item-bg;
   padding: 4rem 2.5rem 5.25rem 2.5rem;
   display: grid;
   gap: 2.125rem;
   border-radius: 1.875rem;
   max-width: 24.62rem;
   @media (max-width: 61.998em) {
      gap: 1.125rem;
   }
   &__user {
   }

   &__title {
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.4;
      color: $title-color;
   }

   &__description {
   }

   &__raiting {
   }
}
.user-testimonial {
   display: flex;
   gap: 1rem;
   align-items: center;

   &__avatar {
      flex: 0 0 4.25rem;
      & img {
         max-width: 100%;
      }
   }

   &__body {
   }

   &__name {
   }

   &__company-name {
   }
}
