.why {

   &__container {
      padding-top: 6rem;
      padding-bottom: 6rem;
      display: flex;
      column-gap: 4rem;
      row-gap: 2rem;
      @media (max-width: 61.998em) {
         padding-top: 3.5rem;
         padding-bottom: 3.5rem;
         flex-direction: column-reverse;
      }
      @media (max-width: 47.998em) {
         padding-top: 2rem;
         padding-bottom: 2rem;
      }
   }

   &__gallery {
      flex: 0 1 50%;
   }

   &__content {
      flex: 0 1 50%;
      align-self: center;
   }

   &__suptitle {
      &:not(:last-child) {
         margin-bottom: 3.90em;
      }
      @media (max-width: 47.998em) {
         &:not(:last-child) {
            margin-bottom: 1.8em;
         }
      }
   }

   &__title {
      &:not(:last-child) {
         margin-bottom: 0.784em;
      }
   }

   &__text {
      @media (min-width: 61.998em) {
         max-width: 30.625rem;
      }
      &:not(:last-child) {
         margin-bottom: 1.94em;
      }
   }

   &__list {
      & li {
         position: relative;
         min-height: 2rem;
         padding-left: 2.5rem;
         padding-top: 2px;
         &:not(:last-child) {
            margin-bottom: 1em;
         }
         &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            border-radius: 50%;
            background: $item-bg url("../img/icons/checked.svg") center no-repeat;
            width: 2rem;
            height: 2rem;
         }
      }
   }
}
.gallery-why {
   display: flex;
   position: relative;
   align-self: flex-end;
   &::before {
      content: "";
      background: url('../img/dots-decor.svg') 0 0 / 100% no-repeat;
      width: 7.625rem;
      height: 7.625rem;
      position: absolute;
      bottom: -8px;
      left: 0;
   }
   &__item {
      overflow: hidden;
      & img {
         max-width: 100%;
         border-radius: 88% 0 49% 49% / 50% 0 31% 31%;
         position: relative;
         z-index: 6;
      }
      &_bottom {
         align-self: flex-end;
         & img {
            border-radius: 50% 50% 50% 0;
         }
      }
   }
}
